 <header>
        <h1>Finance App Navigation</h1>
        <nav>
            <ul>
                <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'budget_creation' %}">Budget Creation</a></li>
                <li><a href="{% url 'your_budget' %}">Your Budgets</a></li>
                <li><a href="{% url 'credit' %}">Credit</a></li>
                <li><a href="{% url 'investments' %}">Investments</a></li>
                <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
                <li><a href="{% url 'net_worth' %}">Net Worth</a></li>
            </ul>
        </nav>
    </header>