 <header>
        <h1>Finance App Navigation</h1>
        <nav>
            <ul>
                <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'budget_creation' %}">Budget Creation</a></li>
                <li><a href="{% url 'your_budget' %}">Your Budgets</a></li>
                <li><a href="{% url 'loans' %}">Your Loans</a></li>
                <li><a href="{% url 'portfolio' %}">Your Portfolio</a></li>
                <li><a href="{% url 'net_worth' %}">Your Net Worth</a></li>
            </ul>
        </nav>
    </header>