{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ budget.budget_name }} - Budget Detail
{% endblock %}


{% block css_files %}
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/budget_creation.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/header.css' %}">
{% endblock %}

{% block content %}
{% include 'dashboard/include/header.html' %}

<section>
    <h1>Budget Details for {{ budget.budget_name }}</h1>
    <img src="{% static 'dashboard/images/money1.jpg' %}" alt="Budget Dashboard">
</section>

{% include 'dashboard/include/budget_details.html' %}

<section>
    <h1>Your Budget Chart</h1>
    <div>{{ pie_chart|safe }}</div>
</section>


{% endblock  %}
