{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ user.username }}'s Net Worth
{% endblock %}

{% block css_files %}
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/net_worth.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/header.css' %}">
{% endblock %}


{% block content %}

{% include 'dashboard/include/header.html' %}

<main class="main-content">
    <section class="welcome-section">
        <h1>Welcome {{ user.username }} to your net worth management page</h1>
        <img src="{% static 'dashboard/images/chart_report1.jpg' %}" alt="Net Worth Dashboard">
    </section>

    <section class="net-worth-creation-section">
        <div class="chart-container">{{ line_chart|safe }}</div>
    </section>
</main>
{% endblock %}