{%extends 'base.html'%}

{% load static %}



{% block title %}
{{ user.username }}'s Budget
{% endblock %}


{% block css_files %}
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/user_budgets.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/budget_details.css' %}">
{% endblock %}


{% block content %}
{% include 'dashboard/include/header.html' %}

<main class="main-content">
    <section class ="welcome-section">
        <h1>Welcome {{ user.username }} to your budget management page</h1>
        <img src="{% static 'dashboard/images/pie_chart2.jpg' %}" alt="Budget Dashboard" class="welcome-image">
    </section>

    <section class="budget-section">
        {% for budget in budgets %}
            <div class="budget-card">
                <a href="{% url 'budget_detail' budget.id %}">
                    {% include 'dashboard/include/budget_details.html' %}
                </a>

                <form action="{% url 'budget_delete' budget.id %}" method="post" >
                    {% csrf_token %}
                    <button type="submit" class="delete-form" onclick="return confirm('Are you sure you want to delete this budget?');">Delete</button>
                </form>
            </div>
        {% endfor %}
    </section>
</main>
{% endblock %}