.budget-creation {
  position: relative;
  height: 100vh;
  margin: 0;
  margin-bottom: 80rem;
}

.welcome-section {
  position: absolute;
  border-radius: 10px;
  box-shadow: 5px 10px 10px 7px #888888;
  padding: 1rem;
  background-color: rgb(248, 102, 4);
  width: 100rem;
  transform: translate(-50%, -50%);
  top: 25rem;
  left: 50%;
}
.welcome-section h1,
.welcome-image {
  display: inline-block;
}
.welcome-section h1 {
  font-size: 1.7rem;
  font-weight: 600;
  color: rgb(0, 0, 0);
  margin: 0;
  transform: translate(5%, -1800%);
}

.welcome-image {
  width: 50%;
  height: auto;
  border-radius: 10px;
  box-shadow: 5px 10px 10px 7px #888888;
  transform: translateX(10%);
}

.budget-form-section {
  position: absolute;
  top: 50rem;
  left: 8%;
  border-radius: 10px;
  box-shadow: 5px 10px 10px 7px #888888;
  padding: 1rem;
  background-color: rgb(248, 102, 4);
  width: 100rem;
}

.budget-chart-section {
  position: absolute;
  top: 80rem;
  left: 8%;
  border-radius: 10px;
  box-shadow: 5px 10px 10px 7px #888888;
  padding: 1rem;
  background-color: rgb(248, 102, 4);
  width: 100rem;
  height: auto;
}

.formset-form {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.4rem;
}

.form-field label {
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
  font-weight: bold;
}
.form-field input {
  padding: 0.2rem;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
  font-size: 1em;
}
.form-field select {
  padding: 0.2rem;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
}
.form-field ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.form_button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: rgb(255, 0, 0);
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  width: 50%;
  position: relative;
}

.form_button:hover,
.form_button:focus,
.form_button:active {
  background-color: rgb(200, 0, 0);
  font-weight: bold;
}

.alert {
    padding: 1rem;
    border-radius: 5px;
    margin-top: 1rem;
    font-size: 1.2em;
    text-align: center;
}
.alert-info {
    background-color: rgb(240, 240, 240);
    color: rgb(0, 0, 0);
}