.main-content {
  position: relative;
  height: 100%;
  margin: 0;
  margin-bottom: 150rem;
}

.welcome-section {
  position: absolute;
  border-radius: 10px;
  box-shadow: 5px 10px 10px 7px #888888;
  padding: 1rem;
  background-color: rgb(248, 102, 4);
  width: 100rem;
  transform: translate(-50%, -50%);
  top: 20rem;
  left: 50%;
}
.welcome-section h1,
.welcome-section img {
  display: inline-block;
}
.welcome-section h1 {
  font-size: 1.7rem;
  font-weight: 600;
  color: rgb(0, 0, 0);
  margin: 0;
  transform: translate(5%, -1200%);
}
.welcome-section img {
  height: auto;
  border-radius: 10px;
  box-shadow: 5px 10px 10px 7px #888888;
  transform: translateX(10%);
  width: 30rem;
}

.net-worth-creation-section{
    position: absolute;
    border-radius: 10px;
    box-shadow: 5px 10px 10px 7px #888888;
    padding: 1rem;
    background-color: rgb(248, 102, 4);
    width: 100rem;
    transform: translate(-50%, -50%);
    top: 80rem;
    left: 50%;
}

.chart-container {
  width: 45%;
  height: 50rem;
  border-radius: 10px;
  box-shadow: 5px 10px 10px 7px #888888;
  padding: 1rem;
  background-color: white;
}
